<app-header></app-header>
<main class="login-page-wrapper">
  <div class="login-page-center">
    <!--Login Box-->
    <div class="contents">
      <div class="contents">
        <!--Heading-->
        <h1 class="login-page-h1">Welcome Back</h1>
      </div>
      <!-- Login Box Container -->
      <div class="login-page-box-container">
        <sp-login></sp-login>
        <div class="contents">
          <img src="https://placehold.co/500?text=Company+Logo\n+goes+here" alt="e-gov-logo" class="log-image">
        </div>
      </div>
    </div>
  </div>
</main>
