<header
  class="header-wrapper"
 >
  <aside  
  class="aside1">
    <img    src="https://placehold.co/400?text=Company+Logo\n+goes+here" alt="" />
  </aside>
  <main class="">
    <h1
      class="fluid-header"
    >
      Asset Tracker Platform
    </h1>
  </main>
  <aside  
  class="aside2">
    <img   fxflexGrow src="https://placehold.co/400?text=Company+Logo\n+goes+here" alt="" />
  </aside>
  <!-- <aside class="w-[min(16vw,50%)] flex max-md:flex-shrink-0  items-center  justify-start  h-auto object-scale-down">
    <img fxflex=""fxflexGrow  [src]="imgs.provincial_Logo" alt="" />
  </aside> -->
</header>
