<mat-card class="container ">
    <mat-card-title class="search-card-content">SERIAL_NUMBER:</mat-card-title>
      <div class=" grid grid-row-2"  >
        <div class="w-full rounded-lg p-2">
          <div >
            <!-- <label class="text-center">Serial Number :</label> -->
            <input matInput (ngModel)="SERIAL_NUMBER" >
          </div>
        </div>
      </div>
      <div class="searchbar-component-buttons">
        <button class="actionButton"   (click)="performSearch()">Search</button>
        <button  class="actionButton"  (click)="resetSearch()">Reset</button>
      </div>
    
  </mat-card>