<div class="home-wrapper">
  <app-header></app-header> 
  <mat-toolbar class="toolbar-container">
   <button mat-icon-button *ngIf="sidenav?.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav?.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav?.opened">close</mat-icon>
    </button>
  </mat-toolbar>
</div>
 <mat-sidenav-container class="sidenav-container">
    <!--Sidenav-->
    <mat-sidenav 
      #sidenav="matSidenav"
      class="mat-elevation-z4"
      >
        <app-tag-left-menu></app-tag-left-menu>
    </mat-sidenav>
    <!--Main Contents-->
    <mat-sidenav-content 
    class="content mat-elevation-z4">
    <!-- <ng-content select [(ngModel)]="model">
      <option *ngFor="let item of list" [value]="item">{{item}}</option>
    </ng-content> -->
    <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>     
